.shop-container{
    display: flex;
    justify-content:space-between;
    /* position: relative; */
    /* margin-top: 80px; */
}

.products-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    margin-top: 70px;
}

.order-summary{
    box-sizing: border-box;
    width: 20%;
    /* border: 1px solid black; */
    /* position: relative; */
    height: 100%;
    /* float: right; */
    /* position: fixed; */
    position: sticky;
    top: 0px;
    height: 1000px;
    right: 0px;
    background: #FFE0B3;
    padding: 20px;
}

.order-summary h1{
    text-align: center;
    margin-bottom: 50px;
}

.order-summary h3{
    text-align: center;
    margin-top: 40px;
}

.clear-cart{
    width: 100%;
    height: 48px;
    background: #FF3030;
    border-radius: 4px;
    border: none;
    color: white;
    margin-top: 40px;
}

.clear-cart:hover{
    background: rgba(180, 9, 9, 0.76);
}

.btn-review-order{
    width: 100%;
    height: 48px;
    background: rgba(30, 206, 24,1);
    border-radius: 4px;
    border: none;
    color: white;
    margin-top: 40px;
}

.btn-review-order:hover{
    background: rgb(22, 165, 17);
}