.header{
    height: 80px;
    width: 100%;
    background-color: #1C2B35;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* position: sticky; */
    /* position: fixed; */
    /* position: relative; */
    /* overflow: hidden; */
    z-index: 999;
    top: 0px;
    /* transition: top 0.3s ease-in-out; */
    /* margin-bottom: 80px; */
}

.nav-links a{
    text-decoration: none;
    color: white;
    margin-left: 32px;
}

.nav-links a:hover{
    color: orange;
}