.header{
    height: 80px;
    width: 100%;
    background-color: #1C2B35;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* position: sticky; */
    /* position: fixed; */
    /* position: relative; */
    /* overflow: hidden; */
    z-index: 999;
    top: 0px;
    /* transition: top 0.3s ease-in-out; */
    /* margin-bottom: 80px; */
}

.nav-links{
    display: flex;
    justify-content: center;
    align-items: center;
}



.nav-links a{
    text-decoration: none;
    color: white;
    margin-left: 32px;
}

.nav-links a:last-child{
    margin-left: 4px;
}

.nav-links a:hover{
    color: orange;
}

.log-out{
    margin-left: 0px;
}

.avatar-container{
    display: flex;
    height: 50px;
    padding: 5px;
    padding-left: 10px;
    justify-content: center;
    align-items: center; 
}

/* .avatar-container:hover{
    background-color: #1c4664;
} */

.img-avatar{
    height: 40px;
    /* margin-right: 10px; */
}